header {
  width: 100%;
}
/* Navv ---- Nav ---- Nav */
header nav {
  width: 100%;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo .img {
  height: 120px;
  margin: 20px 5px 0 5px;
}
header nav .logo .mobile__img {
  display: none;
}
header nav ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3vw;
}
header nav ol a {
  color: var(--secondary-color);
  font-weight: 100;
  font-size: 2.7vw;
}
header nav ul {
  display: none;
  transition: 0.6s;
}
#menu {
  display: none;
}
label {
  display: none;
}
/* Navv ---- Nav ---- Nav */
/* Section ---- Section ---- Section */
header section {
  width: 100%;
  position: relative;
}
header section .section__box {
  width: 60vw;
  height: 80vh;
  background-color: var(--bg-color);
}

header section .section__box .item__bg {
  width: 62%;
  background-image: url("../../assets/HeaderSectionBg.jpg");
  height: 62vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 13vw;
  top: 55px;
}
header section .section__box .item__img {
  width: 28vw;
  background-image: url("../../assets/HeaderImg.png");
  background-size: contain;
  position: absolute;
  height: 70vh;
  background-repeat: no-repeat;
  left: 25vw;
  top: 11vw;
  z-index: 10;
}
header section .section__box .item__desk {
  width: calc(39vw - 10px);
  height: max-content;
  background-color: #2373af;
  position: absolute;
  right: 5px;
  top: 30px;
  z-index: 11;
}
header section .section__box .item__desk p {
  color: var(--primary-color);
  font-family: Indie Flower;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 30px;
}
header section .section__box .item__desk .item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px 0;
}
header section .section__box .item__desk button {
  padding: 12px 50px;
  border: none;
  background-color: var(--bg-color);
}
header section .section__box .item__desk a {
  font-family: Inconsolata;
  font-size: 24px;
  color: var(--btn-color);
  color: #2c1010;
  font-weight: 400;
}

/* Section ---- Section ---- Section */
/* Media--------- Media Media---------- */
@media screen and (max-width: 992px) {
  header section .section__box {
    height: 350px;
  }
  header section .section__box .item__img {
    height: 60vh;
    top: 12vw;
  }
}
@media screen and (max-width: 768px) {
  header nav .logo .img {
    height: 100px;
    margin: 20px 0 0 0;
  }
  header nav ol a {
    font-size: 2.5vw;
  }
  header section .section__box {
    width: 100%;
    height: 380px;
  }
  header section .section__box .item__bg {
    display: none;
  }
  .item__dfx {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
  }
  header section .section__box .item__img {
    width: 230px;
    height: 300px;
    position: static;
    left: 0;
    top: 0;
    z-index: 0;
  }
  header section .section__box .item__desk {
    width: 300px;
    height: max-content;
    position: static;
    left: 0;
    top: 0;
    z-index: 0;
  }
  header section .section__box .item__desk button {
    padding: 8px 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  header {
    background-color: var(--bg-color);
  }
  header nav {
    padding: 0;
    position: relative;
  }
  label {
    display: block;
  }
  label img {
    width: 60px;
    height: 60px;
  }
  #menu:checked + ul {
    transform: translateY(0);
  }
  header nav ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: column;
    background-color: var(--bg-color);
    transform: translateY(-100%);
    z-index: 10;
    gap: 10px;
  }
  header nav ul label {
    position: absolute;
    right: 0;
    top: 25px;
  }
  header nav ul label img {
    width: 50px;
    height: 50px;
  }
  header nav ul a {
    color: var(--secondary-color);
    font-size: 5vw;
    font-weight: 100;
    padding-left: 50px;
  }
  header nav ul img {
    width: 150px;
    height: 100px;
  }
  header nav .logo .img {
    display: none;
  }
  header nav .logo .mobile__img {
    display: block;
    width: 120px;
    height: 100px;
  }

  header nav ol {
    display: none;
  }
  header section .section__box {
    height: 400px;
  }
  header section .section__box .item__desk {
    width: 75vw;
  }
  header section .section__box .item__desk p {
    font-size: 4.4vw;
  }
  header section .section__box .item__desk .item__btn {
    margin: 35px 0 40px 0;
  }
  header section .section__box .item__desk button {
    color: var(--primary-color);
    font-size: 18px;
  }
  .item__dfx {
    flex-direction: column-reverse;
    padding-top: 0;
    row-gap: 30px;
    justify-content: center;
    align-content: center;
  }
  header section .section__box .item__img {
    background-image: url("../../assets//HeaderImgMobile.jpg");
  }
}
/* Media--------- Media Media---------- */
