.contact {
  width: 100%;
  margin-top: 150px;
}
.contact .contact__bg {
  background-image: url("../../assets/ContactBgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.contact .contact__bg .bg__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8vw;
}
.contact .contact__bg h2 {
  color: var(--primary-color);
  font-family: Imprima;
  font-size: 6.5vw;
  font-weight: 400;
  text-align: center;
}
.contact .contact__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  padding: 0 60px 0 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(213, 238, 237, 1) 50%
  );
}

.contact .contact__section img {
  width: 400px;
  height: 720px;
  margin-top: 20px;
}
.contact .contact__section h3 {
  color: var(--secondary--color);
  font-family: Indie Flower;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 20px;
}
.contact .contact__section p {
  text-align: justify;
  max-width: 350px;
  color: var(--secondary--color);
  font-size: 1.7vw;
  font-weight: 300;
  line-height: 40px;
  padding-top: 40px;
}
.contact .section__form {
  display: none;
}

.contact__form {
  width: 100%;
  padding: 0 40px;
  margin-top: 150px;
  position: relative;
}
.contact__form img {
  width: 40vw;
  height: 250px;
  position: absolute;
  top: 0;
  right: 12vw;
  z-index: 10;
}
.contact__form .form__card {
  width: 45vw;
  height: max-content;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 50px;
}
.contact__form .form__card h2 {
  font-family: Imprima;
  font-size: 4.5vw;
  font-weight: 400;
  color: #2c1010;
  padding-top: 40px;
}
.contact__form .form__card input {
  width: 28vw;
  height: 60px;
  border: none;
  background-color: #9fd0d1;
  color: #2c1010;
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 400;
  padding-left: 26px;
  margin-top: 20px;
}
.contact__form .form__card :nth-child(2) {
  margin-top: 50px;
}
.contact__form .form__card :last-child {
  background-color: #2373af;
  padding: 0;
}
.contact__form .form__card input::placeholder {
  color: var(--primary-color);
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 400;
  color: #2c1010;
}
@media screen and (max-width: 992px) {
  .contact {
    margin-top: 120px;
  }
  .contact .contact__bg {
    height: 200px;
  }
  .contact .contact__section {
    column-gap: 50px;
  }
  .contact .contact__section img {
    width: 320px;
    height: 600px;
  }
  .contact .contact__section h3 {
    font-size: 3.4vw;
    padding-top: 40px;
  }

  .contact .contact__section p {
    font-size: 2vw;
    line-height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact__bg {
    height: 180px;
  }
  .contact .contact__section {
    background: var(--bg-color);
    column-gap: 1.4vw;
    padding-right: 10px;
  }
  .contact .contact__section img {
    width: 260px;
    height: 400px;
  }
  .contact .contact__section h3 {
    font-size: 3.4vw;
    padding-top: 50px;
  }
  .contact .contact__section p {
    max-width: 45vw;
    line-height: 30px;
  }
}
@media screen and (max-width: 576px) {
  .contact {
    margin-top: 20px;
  }
  .contact__form {
    display: none;
  }
  .contact .contact__bg {
    background-image: url("../../assets/ContactBgImgMobile.jpg");
    height: 250px;

    background-position: unset;
  }
  .contact .contact__bg .bg__text {
    padding-top: 80px;
  }
  .contact .contact__bg h2 {
    font-size: 10vw;
  }

  .contact .contact__section {
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 0 40px;
    margin-top: 0;
  }

  .contact .contact__section h3 {
    font-size: 8vw;
    padding-top: 40px;
  }
  .contact .contact__section p {
    display: none;
  }
  .contact .section__form {
    display: block;
  }
  .contact .section__form input {
    width: 300px;
    height: 60px;
    border: none;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 400;
    padding-left: 26px;
    margin-top: 20px;
  }
  .contact .section__form :last-child {
    background-color: #2373af;
    padding: 0;
  }
  .contact .section__form input::placeholder {
    color: var(--primary-color);
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 400;
  }

  .contact .contact__section img {
    width: 280px;
    height: 520px;
    margin-top: 50px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
